
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p><del>#1 Profilim</del></p>
<p><del>#2 Tüm başlıklara sayfalama</del></p>
<p><del>#3 Mesajlarda Session kullanımı</del></p>
<p><del>#4 Oturum yönetiminin mimariye taşınması</del></p>
<p><del>#5 LogOut yapıldıktan sonra Default/Headings içerisine LogIn yapılabilecek buton eklenecek</del></p>

