
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Yapılacaklar</h4>
<br />
<p>#10 Proje dosyaları sunucuya taşınacak</p>
<p>#11 Alan adı alınacak</p>
<p>#12 Proje canlıya alınacak</p>
<p>#13 URL de ID yerine isim gelsin</p>


